@import "tailwindcss/preflight";
@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui"
{
  themes: retro
}

.container {
  display :flex;
  flex-direction: column;
  width: 300;
  margin: auto;
  justify-content: center;
}

/* Temporary until tailwind is configured  */
h1 {
  font-size: 40
}

label {
  font-size: 20;
  font-weight: bold;
}